<nav> 
    <ul class = "nav-list">
        <li class = "nav-item"><%=link_to "Обо мне", root_path, class:"nav-link nav-link-1" %></li>
        <li class = "nav-item"><%=link_to "Как проходят занятия", root_path, class:"nav-link nav-link-2"  %></li>
        <li class = "nav-item"><%=link_to "Цены и услуги", root_path,  class:"nav-link nav-link-3"  %></li>
        <li class = "nav-item"><%=link_to "Записаться на урок", root_path,  class:"nav-link nav-link-4"  %></li>
        <li class = "nav-item"><%=link_to "Контакты", root_path,  class:"nav-link nav-link-5"  %></li>
    </ul>
</nav>